.git
.github
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.backup
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
composer.phar
tests
